<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="fondo"> 
    <div *ngIf="mostrarHome">
        <div class="wrapper">
            <div class="left">
                <img src="https://lh3.googleusercontent.com/-fgQJiNVL3n8/W6mMOyo6cMI/AAAAAAAAAGs/tADnAvG1xucGZPGD8Ui2f4U4mapsfLawQCEwYBhgL/w140-h140-p/Administrador1.jpg" alt="user" width="100">
                <h3>Sebastian </h3>
                 <h4>Aponte Pertuz</h4>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Informacion</h3>
                    <div class="info_data">
                         <div class="data">
                            <h4>Email</h4>
                            <p>sebastianaponte17@gmail.com</p>
                         </div>
                         <div class="data">
                           <h4>Phone</h4>
                            <p>3155921337</p>
                      </div>
                    </div>
                </div>
              
              <div class="projects">
                    <h3>Projects</h3>
                    <div class="projects_data">
                         <div class="data">
                            <h4>Reciente</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                         </div>
                         <div class="data">
                           <h4>Mas Visto</h4>
                            <p>dolor sit amet.</p>
                      </div>
                    </div>
                </div>
              
                <div class="social_media">
                    <ul>
                      <li><a target="_blank" rel="noopener" href="https://www.facebook.com"><i class="fa fa-facebook-f"></i></a></li>
                      <li><a target="_blank" rel="noopener" href="https://twitter.com/?lang=es"><i class="fa fa-twitter"></i></a></li>
                      <li><a target="_blank" rel="noopener" href="https://www.instagram.com/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
            </div>
        </div>
    </div>   
<div class="menu-bar">
  <ul >
  <li class="active"><a href="#"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="#"><i class="fa fa-book"></i> Ver Nota</a>
  </li>
  <li><a href="#"><i class="fa fa-address-book"></i> Reportes</a>
    <div class="sub-menu-1">
      <ul>
        <li ><a href="#">Ver Reporte</a></li>
        <li ><a href="#">Enviar Reporte</a></li>
      </ul>
    </div>
    </li>
  <li ><a href="#"><i class="fa fa-envelope"></i> Imail</a></li>
  <li ><a href="#"><i class="fa fa-phone"></i> Contacto</a></li>
  <li ><a href="#"><i class="fa fa-sort-down"></i> </a>
    <div class="sub-menu-1">
        <ul>
          <li ><a href="#">Perfil</a></li>
          <li ><a href="#">Configuracion</a></li>
          <li ><a href="#">Ayuda</a></li>
          <li ><a href="#">Salir</a></li>
        </ul>
      </div>
  </li>
</ul>
</div>
</div>