*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .fondo{
    margin: 0;
    padding: 0;
    background: url(https://c.wallhere.com/photos/d9/01/geometric_illustration_plane_circle_point_triangle_angle_cone-880928.jpg!d) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  .menu-bar{
    background: rgba(0,100,0);
    text-align: center;
  }
  .menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
  }
  .menu-bar ul li{
    width:150px;
    margin:15px;
    padding: 15px;
  }
  .menu-bar ul li a{
    text-decoration: none;
    color: #fff;
  }
  .active,.menu-bar ul li:hover{
  background: #2bab0d;
  border-radius: 3px;
  }
  .sub-menu-1{
    display: none;
  }
  .menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-bottom: -15px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-bottom: 0;
  text-align: left;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:#b2ff00;
  }
  .fa-angle-right{
    float: right;
  }
  .sub-menu-2{
    display: none;
  }
  .hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
  }
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
  width: 90%;
  height: 70%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,rgb(0,100,0),#b2ff00);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  width: 70%;
  height: 70%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0,100,0);
    color: rgb(0,100,0);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,rgb(0,100,0),#b2ff00);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}