<h2>Eliminar Estudiantes</h2>
<input type="text" id="myInput"  placeholder="Buscar.." title="Type in a name"><input class="input" type="submit" (click)="myFunction() "value="Buscar">
<table id="myTable" >
  <tr class="header">
      <th>Documento</th>
      <th>Apellidos</th>
      <th>Nombre</th>
      <th>Fecha  De Nacimiento</th>
      <th>Acudiante</th>
      <th>Salon</th>
      <th>Email</th>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Contacto</th>
      <th>Eliminar</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
    <td class="fa fa-trash">Eliminar</td>
  </tr>
  <tr>
      <td>f</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td class="fa fa-trash">Eliminar</td>
  </tr>
  <tr>
      <td>g</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td class="fa fa-trash">Eliminar</td>
  </tr>
  <tr>
      <td>e</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td class="fa fa-trash">Eliminar</td>
  </tr>
  <tr>
      <td>de</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td class="fa fa-trash">Eliminar</td>
  </tr>
  <tr>
      <td>c</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td class="fa fa-trash">Eliminar</td>
  </tr>
  <tr>
      <td>b</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td class="fa fa-trash">Eliminar</td>
  </tr>
  <tr>
      <td>a</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
      <td class="fa fa-trash">Eliminar</td>
  </tr>
</table>